<!-- {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="menu-section">

        <ul class="nav2">
            <li>
                <a href="{% url 'userhomepageurl' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'updatepasswordurl' %}">Change password</a>
            </li>
            <li>
                <a href="{% url 'loginurl' %}">Logout</a>
            </li>
        </ul>

<P>
    
</P>
 <div class="contact-form-section">
        <h5>Welcome</h5><p>{{usr}}</p>
 </div>
 </div>

</body>
</html> -->


{% include 'adminheader.html' %}


<div class="heading">
    <h1>Admin Home</h1><br>
</div>
</body>
</html>

